<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eusecom.attendance">

    <!-- Project started 05.10.2016 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
        android:name=".EmailPasswordActivity"
        android:label="@string/label_emailpassword"
        android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".StorageActivity"
            android:label="@string/label_storage"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".DatabaseActivity"/>
        <activity android:name=".ApproveActivity" android:label="@string/action_approve"/>
        <activity android:name=".AbsServerActivity" android:label="@string/action_absmysql"/>
        <activity android:name=".AbsServerAsActivity" android:label="@string/action_absmysql"/>
        <activity android:name=".AbsenceActivity" android:label="@string/absence"/>
        <activity android:name=".NewAbsenceActivity" android:label="@string/absence"/>
        <activity android:name=".NewPostActivity"/>
        <activity android:name=".SignInActivity"/>
        <activity android:name=".PostDetailActivity"/>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".RxFirebaseActivity"/>
        <activity android:name=".mvp.MvpActivity"/>



        <!-- for googlemaps            -->
        <service android:name=".MyDownloadService" android:exported="false"/>
        <!-- Android N SDK has new restrictions around sharing file:// URIs https://developer.android.com/reference/android/support/v4/content/FileProvider.html#ProviderDefinition -->
        <provider android:name="android.support.v4.content.FileProvider" android:exported="false" android:grantUriPermissions="true" android:authorities="com.eusecom.attendancet.fileprovider">
        <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!-- end for googlemaps            -->

        <!-- for firebase iid service-->
        <service android:name=".MyFirebaseInstanceIDService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- end for firebase iid service-->
        <!-- for firebase messaging service-->
        <service android:name=".MyFirebaseMessagingService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/login" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!-- end for firebase messaging service-->

    </application>

</manifest>
